<div id="main" class="container">
  <div class="row hide-for-small">
    <div class="twelve columns">
      <div class="wrapper">
        <div class="inner">
          <div class="page clearFix">
            <div class="pageContent">
              <div class="row">
                <div class="five columns centered">
                  <%= render 'signinForm' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row show-for-small">
    <div class="page">
    <%= render 'signinForm' %>
    </div>
  </div>
</div>