<div class="row">
  <div class="five columns centered">
    <p></p>
    <label>Please sign in with your email</label>
    <div class="row collapse">
      <div class="eight mobile-three columns">
        <input type="text" />
      </div>
      <div class="four mobile-one columns">
        <a href="#" class="[radius, round] postfix button">Sign In</a>
      </div>
    </div>
    <p></p>
  </div>
</div>