// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

  background: #14022c url(asset-path('bg-body.jpg', image)) no-repeat center 0;

  #header {
    background: transparent;
    border: none;
    box-shadow: none;
    .logo p{
      color:#fff;
      width: 300px;
      height: 40px;
      margin: 18px 12px;
      font-family: 'Lato', arial, verdana, sans-serif;
      font-size: 2.5em;
      text-shadow: 1px 1px 1px #333;
    }
  }

  #main{
    .wrapper{
      background: rgba(255, 255, 255, 0.3);
      border-top: 1px solid #ccc;
      border-radius: 6px;
      padding: 15px;

      .inner{
        background: rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        padding: 5px;

        .page{
          padding:10px;
          background: white;
          border-radius: 4px;
          border: 1px solid #6E637E;
          border-top: 1px solid #6E637E;
          border-bottom: 1px solid #6E637E;

          .alert{
            margin-top:7px;
          }
        }
  
      }
    }
  }
}